[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
astropy = "*"
dash = "*"
plotly = "*"
scikit-rf = "*"
jupyter = "*"
ipykernel = "*"
highz-filterbank = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"
